version: '3'

networks:
  web:
    external: true

services:
  server:
    image: php:8.4-apache
    networks:
    - web
    volumes:
    - ./src:/var/www/html:ro
    expose:
    - "80"
    labels:
    - "traefik.enable=true"
    - "traefik.docker.network=web"

    - "traefik.http.routers.dielunte-secure.rule=Host(`dielunte.com`)"
    - "traefik.http.routers.dielunte-secure.entrypoints=websecure"

    - "traefik.http.routers.dielunte-insecure.rule=Host(`dielunte.com`)"
    - "traefik.http.routers.dielunte-insecure.entrypoints=web"
    - "traefik.http.routers.dielunte-insecure.middlewares=basic-https-redirect@file"

    - "traefik.http.routers.dielunte-www.rule=Host(`www.dielunte.com`)"
    - "traefik.http.routers.dielunte-www.middlewares=dielunte-www-redirect"
    - "traefik.http.middlewares.dielunte-www-redirect.redirectregex.regex=^https?://www.dielunte.com/(.*)"
    - "traefik.http.middlewares.dielunte-www-redirect.redirectregex.replacement=https://dielunte.com/$${1}"
    restart: unless-stopped
